<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <ng-template [ngIf]="!authService.isAuthenticated()">
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Log in</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
            <li><a routerLink="/to-do-history">My Task History</a></li>
            <li><a (click)="onLogout()" routerLink="/">Log out</a></li>
        </ng-template>
    </ul>
</nav>