/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import '../node_modules/bootstrap/scss/bootstrap.scss';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

html {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
}